html {
    font-size: 18.5px;
    font-family: "ITC_ Avant_ Garde Bold", sans-serif;
}
body {
    background-color: lightsteelblue;
}

h1 {
    color: white;
}
h3{
    color: white;
}

p {
    color: white;

}
font-family{

}
